// mixin sem reiknar nákvæmar prósentur útfrá dálkum
@mixin columns($col: 1) {
  // margföldum með "1%" til að breyta gildi í prósentu gildi
  width: ($col / 12 * 100) * 1%;
}

.button {
  display: inline-block;

  // ath þetta stuff virkar ekki...........:(
  @include columns(12);
  align-self: center;

  margin-top: 4em;
  padding: 10px 5px;
  border: 1px solid #666;
  border-radius: 4px;
  width: 100%;
  max-width: 256px;

  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;

  color: #eee;
  background-color: #666;

  font-family: Lato, helvetica, arial, sans-serif;
  font-size: 1rem;

  text-decoration: none;
  text-align: center;

  cursor: pointer;

  &:hover {
    color: #eee;
    background-color: #333;
    transition: background-color 0.5s ease, color 0.5s ease;
  }

  &--inverted {
    color: #666;
    background-color: #eee;
  }

  &--inverted:hover {
    color: #333;
    background-color: #ccc;
  }

  &--disabled,
  &--disabled:hover {
    border-color: #eee;
    color: #999;
    background-color: #eee;
  }
}
