// mixin sem reiknar nákvæmar prósentur útfrá dálkum
@mixin columns($col: 1) {
  // margföldum með "1%" til að breyta gildi í prósentu gildi
  width: ($col / 12 * 100) * 1%;
}

.cardlist {
  .card {
    padding-bottom: 2em;
    height: 95%;
  }

  .card__content {
    text-align: center;
  }

  &__row {
     display: flex;
     flex-wrap: wrap;
     margin-left: -10px;
     margin-right: -10px;
     margin-bottom: 20px;
    //  overflow: hidden;
    //  align-items: stretch; //virkar greinilega ekki
  }

  &__col {
    padding-left: 10px;
    padding-right: 10px;
    // padding-bottom: 20px;
    @include columns(12); //venjulega, eða undir 600px, tekur þetta 12 columns
    // align-content: stretch; /*sleppa?*/
    @media (min-width: 600px) { //ofar en 600px tekur þetta 6 columns
      @include columns(6);
    }
    @media (min-width: 1200px) { //ofar en 1200px þá tekur þetta 4 columns
      @include columns(4);
    }
  }
}
