// mixin sem reiknar nákvæmar prósentur útfrá dálkum
@mixin columns($col: 1) {
  // margföldum með "1%" til að breyta gildi í prósentu gildi
  width: ($col / 12 * 100) * 1%;
}

.cardlist {
  .card {
    height: 95%;
    padding-bottom: 2em;

    &__content {
      font-size: 1em;
      text-align: center;

      .quote {
        font-size: 1.5em;
        font-style: italic;
        font-weight: lighter;
      }
    }

    .index {
      margin-top: 100px;
    }

    &__quote {
      margin: 30px 1px;
    }
  }

  &__row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -10px;
    margin-bottom: 20px;
    margin-left: -10px;
  }

  &__col {
    padding-right: 10px;
    padding-left: 10px;
    @include columns(12);
    @media (min-width: 600px) { //ofar en 600px tekur þetta 6 columns
      @include columns(6);
    }
    @media (min-width: 1200px) { //ofar en 1200px þá tekur þetta 4 columns
      @include columns(4);
    }
  }
}
