@keyframes easein {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 0.5;
  }

  100% {
    opacity: 1;
  }
}

.header {
  display: flex;
  width: 100%;
  padding: 2em;
  margin-bottom: 2em;
  flex-direction: column;

  &1 {
    min-height: 1000px;
    background: transparent url("bg.jpg") no-repeat fixed 50% 50%;
    background-size: cover;

    .header__content {
      margin: auto;
    }
  }

  &2 {
    width: 100%;
    height: 25em;
    color: rgba(255, 255, 255);
    background: transparent url("bg-subpage.jpg") no-repeat 50% 50%;
    background-size: cover;

    .header__content {
      margin-top: 100px;
    }
  }

  h1 { /* stylelint-disable-line */
    padding-top: 15px;
    padding-right: 20px;
    font-size: 4em;
    -webkit-animation: easein 2s;
  }

  h2 { /* stylelint-disable-line */
    padding-left: 25px;
    font-size: 2em;
    -webkit-animation: easein 1s;
  }

  .button {
    width: 30%;
    margin-top: 50px;
    margin-left: 140px;
    font-size: 2em;
    -webkit-animation: easein 3s;
  }
}
