.header {
  display: flex;
  flex-direction: column;

  margin-bottom: 2em;
  padding: 2em;

  width: 100%;
  min-height: 100vh;

  background-size: cover;

  &1 {
    background:transparent url(bg.jpg) no-repeat fixed 50% 50%;
  }

  &2 {
    background:transparent url(bg-subpage.jpg) no-repeat fixed 50% 50%;
    color: white;
    padding-left: 0em;
  }

  &3 {
    background:transparent url(bg-subpage.jpg) no-repeat fixed 50% 50%;
    color: white;
    padding-left: 0em;
  }



  .content {
    margin: auto;
    align-items: center;
  }

  h1 {
    font-size: 2em;
    //text-shadow: 3px 3px 0px rgba(255, 255, 255, 1);
  }

  h2 {
    font-size: 4em;
    //font-style: italic;
    //text-shadow: 3px 3px 0px rgba(255, 255, 255, 1);
  }

  .button {
    align-self: center;
  }

}
