nav {

  color: white;
  // ath nav á að vera smá transparent
  background-color: black;

  height: 100px;

  .right {
    float: right;
  }

  // ul {
  //   display: flex;
  // }

}
