// breytur fyrir mikið notaðar stærðir
$max-width: 1200px;
$gutter: 20px;

/* setjum box-sizing: border-box; á allt */
html { /* stylelint-disable-line */
  box-sizing: border-box;
  margin-right: $gutter;
  margin-left: $gutter;

  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  line-height: "1.5";

  @media (min-width: $max-width) {
    margin: 0;
  }
}

*, *:before, *:after { /* stylelint-disable-line */
  box-sizing: inherit;

  /* fjarlægjum margin og padding */
  padding: 0;
  margin: 0;
}


h1,h2,h3 {/*stylelint-disable-line*/
  font-family: "Roboto Slab", sans-serif;
}

img { /* stylelint-disable-line */
  max-width: 100%;
}

main { /* stylelint-disable-line */
  max-width: $max-width;
  margin: 0 auto;

  // þar sem við erum að eiga við neikvæð margin á grid, setjum overflow-x
  // hér sem hidden, þá fáum við ekki lárétta skrunstiku
  overflow-x: hidden;
}

@import "scss/grid";
@import "scss/header";
@import "scss/text";
@import "scss/button";
@import "scss/card";
@import "scss/cardlist";
@import "scss/navigation";
@import "scss/footer";
@import "scss/about";
@import "scss/kaupa";
