@charset "UTF-8";
/* setjum box-sizing: border-box; á allt */
html {
  /* stylelint-disable-line */
  box-sizing: border-box; }

*, *:before, *:after {
  /* stylelint-disable-line */
  box-sizing: inherit;
  /* fjarlægjum margin og padding */
  padding: 0;
  margin: 0; }

html {
  /* stylelint-disable-line */
  margin-right: 20px;
  margin-left: 20px;
  font-family: Lato, helvetica, arial, sans-serif;
  font-size: 16px;
  line-height: 1.5; }
  @media (min-width: 1200px) {
    html {
      margin: 0; } }

img {
  /* stylelint-disable-line */
  max-width: 100%; }

main {
  /* stylelint-disable-line */
  max-width: 1200px;
  margin: 0 auto;
  overflow-x: hidden; }

.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -10px;
  margin-bottom: 20px;
  margin-left: -10px; }

.col {
  padding-right: 10px;
  padding-left: 10px; }
  .col-12 {
    width: 100%; }
  .col-8 {
    width: 66.66667%; }
  .col-6 {
    width: 50%; }
  .col-4 {
    width: 33.33333%; }
  @media (max-width: 1199px) {
    .col-sm-12 {
      width: 100%; }
    .col-sm-8 {
      width: 66.66667%; }
    .col-sm-6 {
      width: 50%; }
    .col-sm-4 {
      width: 33.33333%; } }

.header {
  display: flex;
  flex-direction: column;
  margin-bottom: 2em;
  padding: 2em;
  width: 100%;
  min-height: 100vh;
  background-size: cover; }
  .header1 {
    background: transparent url(bg.jpg) no-repeat fixed 50% 50%; }
  .header2 {
    background: transparent url(bg-subpage.jpg) no-repeat fixed 50% 50%;
    color: white;
    padding-left: 0em; }
  .header3 {
    background: transparent url(bg-subpage.jpg) no-repeat fixed 50% 50%;
    color: white;
    padding-left: 0em; }
  .header .content {
    margin: auto;
    align-items: center; }
  .header h1 {
    font-size: 2em; }
  .header h2 {
    font-size: 4em; }
  .header .button {
    align-self: center; }

.heading {
  width: 100%;
  padding: 0;
  border: none;
  font-family: Merriweather, georgia, serif;
  font-size: 2rem; }
  .heading--one {
    font-size: 3rem; }
  .heading--two {
    font-size: 2rem; }
  .heading--three {
    font-size: 1rem; }

.text__p {
  margin-bottom: 20px; }

.button {
  display: inline-block;
  width: 100%;
  align-self: center;
  margin-top: 4em;
  padding: 10px 5px;
  border: 1px solid #666;
  border-radius: 4px;
  width: 100%;
  max-width: 256px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: #eee;
  background-color: #666;
  font-family: Lato, helvetica, arial, sans-serif;
  font-size: 1rem;
  text-decoration: none;
  text-align: center;
  cursor: pointer; }
  .button:hover {
    color: #eee;
    background-color: #333;
    transition: background-color 0.5s ease, color 0.5s ease; }
  .button--inverted {
    color: #666;
    background-color: #eee; }
  .button--inverted:hover {
    color: #333;
    background-color: #ccc; }
  .button--disabled, .button--disabled:hover {
    border-color: #eee;
    color: #999;
    background-color: #eee; }

.card {
  width: 100%;
  min-width: 200px;
  max-width: 800px;
  overflow: hidden; }
  .card__heading {
    margin-bottom: 15px;
    width: 100%;
    font-family: Merriweather, georgia, serif;
    font-size: 1.5rem;
    word-break: break-word; }
  .card__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px; }
  .card__text {
    margin-bottom: 30px; }
  .card__img {
    width: 100%;
    min-width: 200px;
    max-width: 100%;
    border-radius: 100%; }

@media (min-width: 800px) {
  .card--wide {
    display: flex; } }

@media (min-width: 600px) {
  .card--wide .card__img {
    height: 100%;
    min-width: 400px;
    object-fit: cover; } }

@media (min-width: 800px) {
  .card--wide .card__content {
    align-items: flex-start; } }

.cardlist .card {
  padding-bottom: 2em;
  height: 95%; }

.cardlist .card__content {
  text-align: center; }

.cardlist__row {
  display: flex;
  flex-wrap: wrap;
  margin-left: -10px;
  margin-right: -10px;
  margin-bottom: 20px; }

.cardlist__col {
  padding-left: 10px;
  padding-right: 10px;
  width: 100%; }
  @media (min-width: 600px) {
    .cardlist__col {
      width: 50%; } }
  @media (min-width: 1200px) {
    .cardlist__col {
      width: 33.33333%; } }

nav {
  color: white;
  background-color: black;
  height: auto; }
  nav .right {
    float: right; }

.footer {
  margin: auto;
  padding: 2em; }
  .footer .footer__content {
    display: flex;
    flex-wrap: nowrap;
    margin: auto; }
  .footer .footer__content2 {
    border-top: 2px solid #999; }

form {
  border: none;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 5em; }
  form fieldset {
    width: 50%; }
  form legend {
    border: white; }
  form div {
    margin: 2em 3em; }
